@charset "UTF-8";

*{ /*Configurações GLOBAIS de CSS*/
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to left, #049DD9, #0378A6,#024959);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(150, 5, 5, 0.5);
    width: 600px;
    padding: 10px;
    margin: auto;
}


h1{
    color: #0344a6;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(43, 1, 1, 1);;
}


h2{
    color: #0378A6;
}

p{
    text-align: justify;
}